.notification {
    z-index: -1;
    position: fixed;
    background: #dd0519;
    color: #fff;
    height: 8em;
    font-weight: 700;
    font-size: 1em;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: -3em;
    padding: 1em 2em;
    width: 15em;
    border-radius: .4em;
    box-shadow: 0 0 20px #000;
    font-weight: 500;
    transition: .6s;
    opacity: 0;

}

.notification > h5{
    font-family: Arial, Helvetica, sans-serif !important;
}
.notification-show {
    opacity: 1;
    z-index: 1;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0em;
}

.notification-blur {
    opacity: 0;
    z-index: 1;
    margin: auto;
    bottom: 0;
    right: 0;
    left: 0;
    top: 3em;
}